.indexFlash{min-height:200px; position:relative;}
.indexFlash .slick a{display:block; min-height:250px;}
.indexFlash .slick img{width:100%;}
.indexFlash .slick-arrow{display:block; width:70px; height:70px; position:absolute; z-index:10; top:50%; margin-top:-35px;}
.indexFlash .slick-prev{left:50%; margin-left:-600px; background:rgba(53,146,55,0.3) url(../image/prev.png) center no-repeat;}
.indexFlash .slick-next{right:50%; margin-right:-600px; background:rgba(53,146,55,0.3) url(../image/next.png) center no-repeat;}
.indexFlash .slick-prev:hover{background:rgba(53,146,55,1) url(../image/prev.png) center no-repeat;}
.indexFlash .slick-next:hover{background:rgba(53,146,55,1) url(../image/next.png) center no-repeat;}
.indexFlash .slick-dots{position:absolute; z-index:10; left:0px; bottom:20px; width:100%; text-align:center;}
.indexFlash .slick-dots li{display:inline-block; width:27px; height:12px;}
.indexFlash .slick-dots span{display:inline-block; width:6px; height:6px; background:#FFF;}
.indexFlash .slick-dots .slick-active span{background:#359237; width:10px; height:10px; position:relative; top:2px;}

.pageTitle{text-align:center; color:#349237; font-size:24px; padding:60px 0 50px 0;}
.pageTitle i{display:block; width:40px; height:10px; border-bottom:#CCC solid 1px; margin:0 auto;}

.indexPart1{min-height:100px; position:relative; padding-bottom:70px;}
.indexPart1 .list{padding:0 50px; margin-left:-70px; margin-right:-70px;}
.indexPart1 .slick{padding:0 20px; border-right:rgba(255,255,255,0) solid 1px;}
.indexPart1 .slick-current{border-right:#CCC solid 1px;}
.indexPart1 li{float:left; width:50%; text-align:center;}
.indexPart1 .imgDiv{background:url(../image/imgbg.png) center top no-repeat; background-size:100% 100%; padding:55px 13px 0 9px; margin:0 6px;}
.indexPart1 .imgDiv img{width:100%; border:#000 solid 2px; border-bottom:0px;}
.indexPart1 .name{font-size:16px; padding:50px 0 0 0; background:url(../image/nimg22_1.png) center 29px no-repeat;}
.indexPart1 .li_01 .name{background:url(../image/nimg22_1_1.png) center 29px no-repeat;}

.indexPart1 .slick-arrow, .indexPart3 .slick-arrow{display:block; width:20px; height:51px; position:absolute; z-index:10; top:50%; margin-top:-35px;}
.indexPart1 .slick-prev, .indexPart3 .slick-prev{left:0px; background:url(../image/nimg20_1.png) center no-repeat;}
.indexPart1 .slick-next, .indexPart3 .slick-next{right:0px; background:url(../image/nimg20_2.png) center no-repeat;}

.indexPart2{background:url(../image/indexPart2.jpg) center no-repeat; background-size:cover; text-align:center; padding-bottom:100px;}
.indexPart2 .imgDiv{max-width:869px; margin:0 auto;}
.indexPart2 .imgDiv img{width:100%;}

.indexPart3{padding-bottom:20px;}
.indexPart3 .list{padding:0 50px; margin-left:-56px; margin-right:-56px;}
.indexPart3 .box{margin:0 6px; min-height:100px; position:relative;}
.indexPart3 .imgDiv img{width:100%;}
.indexPart3 .name{position:absolute; left:0px; bottom:0px; width:100%; padding:6px;}
.indexPart3 .name a{display:block; font-size:16px; color:#FFF; height:57px; line-height:57px; background:rgba(0,0,0,0.6) url(../image/img24.png) right center no-repeat; padding:0 15px; border-top:rgba(255,255,255,0) solid 1px; border-bottom:rgba(255,255,255,0) solid 1px;}
.indexPart3 .box.on .name a{border-top:#359237 solid 1px; border-bottom:#359237 solid 1px; background:rgba(0,0,0,0.6) url(../image/img24on.png) right center no-repeat;}

.indexPart4{width:100%; overflow:hidden; position:relative; color:#848484; font-size:13px;}
.indexPart4 ul{margin-right:-50px;}
.indexPart4 li{float:left; width:50%; min-height:240px; position:relative; padding:0 50px 0 280px;}
.indexPart4 .imgDiv{position:absolute; left:0px; top:0px;}
.indexPart4 .name{font-size:16px;}
.indexPart4 .time{padding:10px 0 15px 0;}
.indexPart4 .content{line-height:1.8em;}
.indexPart4 .btn{text-align:right; padding:15px 0;}
.indexPart4 .btn a{padding-right:25px; background:url(../image/img14.png) right center no-repeat;}
.indexPart4 .btn a:hover{background:url(../image/img14on.png) right center no-repeat;}

.indexPart5{background:#f8f8f6; padding-bottom:90px;}
.indexPart5 li{border-bottom:#e2e2e2 solid 1px; padding:17px 0;}
.indexPart5 .name{line-height:34px; font-size:16px; color:#4C4C4C; cursor:pointer; background:url(../image/img32.png) 20px top no-repeat; padding-left:80px;}
.indexPart5 p{display:none; font-size:13px; line-height:1.8em; color:#848484; padding:21px 50px 50px 80px;}
.indexPart5 li.on .name{background:url(../image/img34.png) 20px top no-repeat;}
.indexPart5 li.on p{display:block;}

.indexPart6{background:url(../image/nimg1440_2.jpg) center no-repeat; background-size:cover; text-align:center;}
.indexPart6 .wal{min-height:460px; position:relative;}
.indexPart6 .ico{position:absolute; left:0px; top:0px; background:url(../image/img91.png) center no-repeat; width:91px; height:124px;}
.indexPart6 .list{max-width:928px; margin:0 auto;}
.indexPart6 li{float:left; width:25%;}
.indexPart6 li a{display:block; font-size:14px; color:#FFF; background:url(../image/img151on.png) center top no-repeat;}
.indexPart6 li a div{height:170px; position:relative;}
.indexPart6 li img{position:relative; top:65px;}
.indexPart6 img.on{display:none;}
.indexPart6 li a:hover{background:url(../image/img151.png) center top no-repeat;}
.indexPart6 li a:hover img{display:none;}
.indexPart6 li a:hover img.on{display:inline-block;}

.product{min-height:300px; position:relative; padding:70px 384px 130px 0;}
.product .box{position:absolute; top:70px; right:0px; width:385px; padding-left:40px; background:url(../image/line.png) left top no-repeat;}
.product .box.on{position:fixed; z-index:30; top:0px; right:50%; margin-right:-600px;}
.product .box.on .name{padding-top:10px;}
.product .box-1.on{top:64px;}
.product .name{font-size:20px;}
.product .list{padding:10px 0 35px 0; font-size:13px; line-height:1.8em; color:#848484;}
.product .list li{min-height:1.8em; position:relative; padding-left:5em;}
.product .list em{position:absolute; left:0px; top:0px; color:#4C4C4C;}
.product .btn a{display:block; font-size:20px; color:#FFF; height:58px; line-height:58px; text-align:center; background:#2A942A;}
.product .btn img{margin-right:12px; position:relative; top:-1px;}
.product .content{border-right:#e2e2e2 solid 1px; min-height:300px; padding-right:40px;}
.product .content img{width:100%; max-width:750px;}

.pageNavD{height:64px; margin-top:30px;}
.pageNav{height:64px; border-bottom:#e2e2e2 solid 1px; background:#FFF;}
.pageNav.on{position:fixed; z-index:20; left:0px; top:0px; width:100%;}
.pageNav li{float:left; padding-right:72px;}
.pageNav a{display:block; height:64px; line-height:64px; font-size:18px; border-bottom:rgba(255,255,255,0) solid 3px;}
.pageNav a:hover, .pageNav a.on{color:#2A942A; border-bottom:#2a942a solid 3px;}

.case{padding-top:100px; width:100%; overflow:hidden; position:relative;}
.case ul{margin-right:-41px;}
.case li{float:left; width:50%; padding-bottom:55px;}
.case dl{border-right:#CCC solid 1px; min-height:50px; margin-right:20px; padding-right:20px;}
.case dd{float:left; width:50%; text-align:center;}
.case dd.clear{background:#000; float:none;}
.case .imgDiv{background:url(../image/imgbg.png) center top no-repeat; background-size:100% 100%; padding:55px 13px 0 9px; margin:0 6px;}
.case .imgDiv img{width:100%; border:#000 solid 2px; border-bottom:0px;}
.case .name{font-size:16px; padding:50px 0 0 0; background:url(../image/nimg22_1.png) center 29px no-repeat;}
.case dd.dd_01 .name{background:url(../image/nimg22_1_1.png) center 29px no-repeat;}

.service_01{padding-top:100px;}
.service_01 .h10{height:80px;}
.service_01 .fl{width:50%; padding-right:30px;}
.service_01 .fr{width:50%; padding-left:30px;}
.service_01 .imgDiv img{width:100%;}
.service_01 .title{font-size:20px; padding:25px 0 20px 0;}
.service_01 .content{font-size:13px; line-height:1.8em; color:#848484;}
.service_01 .content b{font-size:26px; display:block; padding:5px 0 15px 0;}

.service_02{background:#f8f8f6; min-height:200px;}
.service_02 .title{font-size:20px; text-align:center; padding:50px 0 55px 0;}
.service_02 .wal{max-width:302px;}
.service_02 li{min-height:24px; line-height:24px; position:relative; padding-bottom:12px; font-size:14px; clear:both;}
.service_02 li em{position:absolute; left:-200px; top:0px; color:#848484; display:block; width:180px; text-align:right;}
.service_02 .input1{width:100%; height:42px; line-height:42px; border:#b5b5b5 solid 1px; font-size:14px; padding:0 15px;}
.service_02 .li_01 em{line-height:42px;}
.service_02 dd{float:left; width:33.333%; height:24px; background:url(../image/ico1.png) left center no-repeat; padding-left:20px; cursor:pointer;}
.service_02 dd.on{background:url(../image/ico1on.png) left center no-repeat;}
.service_02 dd input{display:none;}
.service_02 .li_02 dd{float:none; width:100%;}
.service_02 .btn{padding:30px 0 65px 0;}
.service_02 .btn1{width:100%; height:40px; background:#309331; font-size:20px; color:#FFF;}

.service_03{text-align:center; padding:15px 0 95px 0;}
.service_03 .title{font-size:20px; padding:60px 0 25px 0;}
.service_03 .imgDiv{padding:35px 0 70px 0; border-bottom:#e2e2e2 solid 1px; max-width:1002px; overflow:auto; margin:0 auto;}
.service_03 .content{color:#848484; font-size:13px; line-height:1.8em;}

.contact{padding:75px 0 100px 0;}
.contact .fl{width:67%;}
.contact .fr{width:33%; min-height:498px; padding:35px; background:#F8F8F6;}
.contact .title{font-size:20px; padding-bottom:15px;}
.contact .list li{font-size:13px; color:#848484; height:24px; line-height:24px; position:relative; padding-left:5.5em;}
.contact .list li em{position:absolute; left:0px; top:0px; color:#4C4C4C;}
.contact .list .li_01{height:55px; line-height:55px;}
.contact .list .li_01 b{font-size:22px;}
.contact .list .li_02 a{font-size:14px; color:#858585; display:block; height:24px;}
.contact .list .li_02 a img{float:left; margin-right:6px; background:#828282;}
.contact .list .li_02 a:hover img{background:#359237;}
.contact .ewm{clear:both; padding-top:30px; text-align:center;}
.contact .ewm li{float:left; padding-right:20px; line-height:35px; color:#808080; font-size:13px;}

.news{padding:50px 0; color:#848484; font-size:13px;}
.news li{border-bottom:#e2e2e2 solid 1px; padding:0 15px; min-height:10px; position:relative;}
.news .wal{min-height:273px; position:relative; padding:50px 0 50px 315px;}
.news .imgDiv{position:absolute; left:0px; top:50px;}
.news .name{font-size:16px;}
.news .time{padding:10px 0 15px 0;}
.news .content{line-height:1.8em; padding-bottom:10px; min-height:5.4em;}
.news .btn a{padding-right:25px; background:url(../image/img14.png) right center no-repeat;}
.news li.on a{color:#359237;}
.news li.on .btn a{background:url(../image/img14on.png) right center no-repeat;}
.news li.on{background:#f8f8f6;}

.newShow .title{text-align:center; font-size:24px; padding-top:70px;}
.newShow .time{text-align:center; font-size:13px; color:#848484; padding:10px 0 40px 0;}
.newShow .content{font-size:13px; color:#666; text-align:justify; line-height:1.8em; padding-bottom:60px;}
.newShow .content .imgDiv{text-align:center; padding-bottom:40px;}
.newShow .content img{width:100%; max-width:583px;}

.pageNum{min-height:150px; line-height:30px; border-top:#dedede solid 1px; position:relative; color:#848484; font-size:13px;}
.pageNum .back a{position:absolute; left:50%; top:30px; font-size:16px; margin-left:-2em;}
.pageNum .fl, .pageNum .fr{max-width:40%; padding:30px 0;}
.pageNum a{color:#848484;}
.pageNum a:hover, .pageNum .back a{color:#359237;}